
* {
  margin: 0;
  padding: 0;
}

:root {
  --color-background-light: #F5F5F5;
  --color-background-dark: #1e1e1e;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #666666;
  --color-accent-dark: #444444;
  --color-highlight: #c4B9B0;
  --color-boder: #DDDDDD;
  --color-button-hover: #333333
}

.banner {
  background-color: var(--color-accent-dark);
  color: #ffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.icons {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-left: 2rem;
    font-size: 17px;
}

.navlinks ul {
    display: flex;
    gap: 1.3rem;
  }
  
  .navlinks ul li {
    list-style: none;
  }

.nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20rem;
  position: absolute;
  top: 4;
  width: 100%;
  padding: 2rem;
  min-height: 80vh;
}

main {
    min-height: 90vh;
}